* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: bisque;
}

.container {
  background-color: #fff;
  width: 80vw;
  max-width: 37.5em;
  padding: 3em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.62rem;
}

.search {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
}

.search button {
  font-size: 1em;
  background-color: bisque;
  color: #333;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.3em;
}

.search button:hover {
  color: #6d6868;
}

.search input {
  font-size: 1em;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid bisque;
  outline: none;
  color: #333;
}

#result {
  margin-top: 1.25em;
}

.container .flag-img {
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1.8rem auto 1.2em auto;
}

.container h2 {
  font-weight: 600;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}

.data-wrapper {
  margin-bottom: 1em;
  letter-spacing: 0.3px;
}

.container h4 {
  display: inline;
  font-weight: 900;
  color: #333;
}

.container span {
  color: #333;
}

.container h3 {
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
}
